body 
{
    background-image: url(https://i1.wp.com/www.teahub.io/photos/full/288-2886307_sunset-gif.gif);
}
h1
{
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

